*
{
    margin: 0;
    padding: 0;
}

#first
{
    text-align: center;
    background-position: center;
    padding: 7rem 0;
    background-color: #1C77FD;
}

#first h1
{
    color: #FFFFFF;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: bolder;
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#first p
{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

#first a
{
    color: #000000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F8F9FA;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}

 #second
{  
    padding: 10rem 0rem;
    background-color: #FFFFFF;
} 

.container
{
   padding-left: 19rem;
   padding-right: 10rem;
   width: 60%;
}

#second h2
{
    color: #212529;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#second p
{
    color: #212529;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
}

#second ul li
{
     color: #212529;
     font-size: 16px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 2rem;
}

#Services
{
    
    padding: 144px 0;
    background-color: #F8F0FA;
    color: #212529;
}

#Services h2
{
    color: #212529;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-bottom: 1rem;
}

#Services p 
{
    color: #212529;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.container1
{
    padding-left: 19rem;
    padding-right: 16.5rem;
    width: 57.9%;
    background-color: #F8F0FA;
}

#contact
{
    padding: 10rem 0rem;
    background-color: #FFFFFF;

}

#contact h2
{
    color: #212529;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

#contact p
{
    color: #212529;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}

#footer
{
    background-color: #212529;
    padding: 48px 0;
    text-align: center;

}

#footer p{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head
{
    background-color: #212529;
    padding: 15px;

}

#head a
{
     color: #FFFFFF;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0px 16px 0px 0px;
     padding: 5px 110px;
     text-decoration: none;
}